*.vim
.DS_Store

*.pyc
.ipynb_checkpoints
.python-version
__pycache__/
.pytest_cache
.env

venv/
*.json
*.csv
*.zip
*.xls
*.xlsx
!data/*.xls

#arquivos de testes
!**/tests/**/**.xls
!**/tests/**/**.xlsx

build/
dist/
*.egg-info

data
