black==20.8b1
flake8==3.8.4
isort==5.7.0
jupyter==1.0.0
matplotlib==3.3.4
nltk==3.5
opencv-python==4.5.1.48
pandas==1.2.2
pre-commit==2.10.0
pytest==6.2.2
seaborn==0.11.1
spacy==3.0.3
texthero==1.0.9
unidecode==1.1.2
wordcloud==1.8.1
xlrd==2.0.1
